# https://docs.netlify.com/configure-builds/file-based-configuration/#sample-file

#[[redirects]]
#  from = "https://pharmacologycuk.netlify.com"
#  to = "http://pharmacology.catholic.ac.kr"
#  status = 301
#  force = true

# https://gohugo.io/hosting-and-deployment/hosting-on-netlify/#configure-hugo-version-in-netlify

[build]
publish = "public"
command = "hugo --gc --minify"

[context.production.environment]
HUGO_VERSION = "0.79.1"
HUGO_ENV = "production"
HUGO_ENABLEGITINFO = "false"
#HUGO_ENABLEGITINFO = "true"

[context.split1]
command = "hugo --gc --minify"
#command = "hugo --gc --minify --enableGitInfo"

[context.split1.environment]
HUGO_VERSION = "0.79.1"
HUGO_ENV = "production"

[context.deploy-preview]
command = "hugo --gc --minify --buildFuture -b $DEPLOY_PRIME_URL"

[context.deploy-preview.environment]
HUGO_VERSION = "0.79.1"

[context.branch-deploy]
command = "hugo --gc --minify -b $DEPLOY_PRIME_URL"

[context.branch-deploy.environment]
HUGO_VERSION = "0.79.1"

[context.next.environment]
HUGO_ENABLEGITINFO = "false"
#HUGO_ENABLEGITINFO = "true"

